* {
    margin: 0px;
    font-family: 'Baloo 2', cursive;
}

body {
    padding-top: 50px;
    padding-bottom: 100px;
}

#header {
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    
}

#headerCarrinho {
    position: fixed;
    z-index: 1000;
    right:58px;
    bottom: 300px;
    padding: 15px;
    border-radius: 15px;
    background-color: #F1E9C9;
    cursor: pointer;
}

.headerCarrinho {
    padding: 10px;
    border-radius: 15px;
    background-color: #F1E9C9;
    cursor: pointer;

    transform: translateY(0px);
    animation: float 2s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px)
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px)
    }
}

#cabecalho {
    box-sizing: border-box;
    width: 900px;
    margin: auto;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 550px 400px 100px;
    grid-template-rows: 120px;
}

.cabecalho-h1 {
    grid-column-start: 1;
    grid-column-end: 1;
    padding-bottom: 20px;
    font-size: 40px;
    line-height: 45px;
}

.cabecalho-p {
    grid-column-start: 1;
    grid-column-end: 1;
    font-size: 17px;
    padding-bottom: 40px;
    font-family: 'Roboto', sans-serif;
}

#img-lateral {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: -25px;
    width: 450px;
    height: 335px;
}

#delivery-infos {
    grid-column-start: 1;
    grid-column-end: 1;

    display: grid;
    grid-template-columns: 250px 250px;
    
    width: 500px;
}

.deliveryInfos-text {
    display: flex;
    align-items: center;
    font-size: 10pt;
    padding-bottom: 10px;
    text-indent: 10px;
    font-family: 'Roboto', sans-serif;
}

.tituloCafes {
    width: 900px;
    margin: auto;
    padding-top: 75px;
    padding-bottom: 50px;
}

#cafes {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    text-align: center;

    width: 1000px;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #8D8686;
}

.coffeeBoxes {
    background-color: #F3F2F2;
    padding: 5px;
    margin: 5px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.2);
}

#coffeeInfos {
    width: 240px;
}

#span-1 {
    color: #C47F17;
    background-color: #F1E9C9;
    font-size: 10pt;
    margin: 3px;
    padding: 4px;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

#span-2 {
    color: #8D8686;
    font-size: 11pt;
}

#coffeeLastLine {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
}

#preco {
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: #574F4D;
}

#buttons {
    display: flex;
}

button {
    background-color: #E6E5E5;
    border: none;
    color: #8047F8;
    font-size: 20px;
    padding-left: 13px;
    padding-right: 13px;
    cursor: pointer;
}

#qtd {
    font-size: 20px;
    background-color: #E6E5E5;
}

#carrinho {
    cursor: pointer;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
}

#confirmacao {
    width: 1000px;
    margin: 50px auto auto auto;
    padding: 10px;
}

#endereco {
    float: left;
    width: 500px;
    padding: 25px;
    background-color: #F3F2F2;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.2);
    margin-bottom: 50px;
}

.endereco {
    color: #403937;
    display: flex;
    align-items: center;
    text-indent: 20px;
}

.endereco2 {
    color: #574F4D;
    text-indent: 53px;
    margin-bottom: 15px;
}

#form {
    display: grid;
    grid-template-columns: 175px 100px 125px 70px;
    gap: 10px;
}

.box1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.box2 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
}

.box3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}

.box4 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 3;
}

.box5 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
}

.box6 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
}

.box7 {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
    color: #8D8686;
    background-color: #EEEDED;
    border: 1px solid #E6E5E5;
}

input {
    color: #8D8686;
    height: 40px;
    background-color: #EEEDED;
    border: 1px solid #E6E5E5;
    text-indent: 10px;
}

#lateral {
    float: right;
    width: 380px;
    padding: 15px;
    background-color: #F3F2F2;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.2);
}

.selecionados {
    color: #574F4D;
    display: grid;
    grid-template-columns: 200px 32px 40px 75px 40px;
    grid-template-rows: 40px;
    align-items: center;
}

.selecionadosMenosBtn {
    width: 30px;
    font-size: 10pt;
}

.selecionadosMaisBtn {
    width: 30px;
    font-size: 10pt;
}

.selecionadosPrice {
    font-size: 13pt;
}

.svg-trash-can {
    display: flex;
    align-items: center;
    justify-content: center;
}

#totalPrice {
    width: 200px;
    margin: 20px auto auto auto;
    color: black;
}

.totalPrice {
    float: right
}

#finalizarPedido {
    color: white;
    background-color: #DBAC2C;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#pagamento {
    float: left;
    margin-top: -25px;
    width: 500px;
    padding: 25px;
    margin-bottom: 100px;
    color: #403937;
    background-color: #F3F2F2;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.2);

}

#cabecalhoPagamento {
    display: grid;
    grid-template-columns: 25px 450px;
}

.svgPagamento {
    width: 22px;
    height: 22px;
}
.textPagamento {
    font-size:16pt;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 12px;
    margin-bottom: 20px;
}
.pagamento {
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
}

#formasDePagamento {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    justify-content: center;
    align-items: center;
}

label {
    border: 1px solid #E6E5E5;
    background-color: #EEEDED;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 10px;
    cursor: pointer;
}

#credito,#debito,#dinheiro {
    display: none;
}

.paymentFormChecked {
    background: #DBAC2C;
    transition: 1.5s;
}

.finalBody {
    width: 1200px;
    margin: auto;
}

h2.leftHead {
    color: #C47F17;
    text-indent: 30px;
}

p.leftHead {
    color: black;
    font-size: 12pt;
    margin: -5px auto 20px auto;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 30px;
}

div.pedidoFinal {
    border: 1px solid #C47F17;
    border-radius: 30px;
    width: 500px;
    padding: 30px;
}

div.pedidoFinal p {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

#enderecoEntrega {
    display: grid;
    align-items: center;
    grid-template-columns: 210px 250px;
}

#a1,#b1,#c1 {
    font-family: Arial, Helvetica, sans-serif;
    grid-column-start: 1;
    grid-column-end: 1;
    display: flex;
    align-items: center;
    gap: 10px;
}

#a2 {
    grid-column-start: 2;
    grid-column-end: 2;
}

#a3,#b3,#c3 {
    grid-column-start: 1;
    grid-column-end: 1;
}

#a4 {
    grid-column-start: 1;
    grid-column-end: 1;
}

#imgMoney {
    width: 15px;
    height: 15px;
    background-color: rgb(128,71,248);
    padding: 9px;
    border-radius: 20px;
}

#gridFinalPage {
    display: grid;
    grid-template-columns: 500px 500px;
    gap: 150px;
}

.resumoDeCompra {
    color: #C47F17;
    text-align: left;
}

.deliveryPhoto {
    transform: translateX(0px);
    animation: run 3s ease-in-out infinite;
}

@keyframes run {
    0% {
        transform: translateX(0px)
    }
    50% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0px)
    }
}